
.roomInfoContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.membersTableContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #61dafb;
}