
.roomInfoContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.membersTable{
   width: 200px;
    float: left;
}

.roomsPageTable{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.centerContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

