.btnContainerRooms{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.createContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.joinContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.roomTableContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.roomTable{
    width: 35%;
}